@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


:root{
    --pimary-color:#047AEC;
    --white-color:white;
    --dark-color:#002240;
    --padding-block:10px;
    --padding-inline:20px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
}


a{
    text-decoration: none;
    color:  black;
    font-weight: 300;
}

li{
    list-style: none;
}

p{
  font-weight:300 ;
  line-height: 1.4;
}
 
img{
    width: 100%;
    
}

.container{
    max-width: 1100px;
    box-sizing: border-box;
    overflow: none;
    margin: 0px auto;
}

.flex{
    display: flex;
     
}


button{
    cursor: pointer;
}


/* Nav Section Start  */
 
nav{
    background-color: var(--pimary-color);
    color: var(--white-color);
    padding-block: var(--padding-block);
    
}

div.nav{
    justify-content: space-between;
    padding-inline:var(--padding-inline);
}


div.nav h2{
  font-size: 35px;
  font-weight: 400;
}

div.nav ul{
    gap: 30px;
}

div.nav ul a{
    color: var(--white-color);
    padding-bottom: 5px;
    transition: color 0.3s ;
    border: none;
}

div.nav ul a:hover{
    border-bottom: 2px solid var(--white-color);
}


/* Nav Section End  */


/* Hero SEction :start */



 #hero{
    background-color: var(--pimary-color);
    color: white;
    position: relative;
 }

 .hero{
    padding-inline: var(--padding-inline);
    justify-content: space-between;
    align-items: center;
    
 }


  /* hreo text-btn edit */

 .hero .text-btn{
    width: 55%;
    gap: 30px;
    flex-direction: column;
    align-items: start;
    animation: hero-left;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
 }
 
 .hero .text-btn h1{
    font-size: 40px;
    font-weight: 300;
 }
 
 .hero .text-btn p{
    line-height:1.6;
    font-weight: 300;


 }

 .hero .text-btn button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: 18px;
    border-radius: 6px;
 }

 .hero .text-btn button:hover{
    transform: scale(0.95);
 }



 /* hero form-start  */

div.form{
  
  width: 400px;
  background-color: var(--white-color);
  padding: 30px 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px var(--pimary-color);
  position: relative;
  top: 100px;
  z-index: 100;
  
 animation: form;
 animation-duration: 1.5s;
 animation-delay: 0.1s;
 
 

}

div.form h2{
    color: var(--dark-color);
    font-size: 25px;
    font-weight: 300;
}

div.form input{
    width: 100%;
    border: none;
    padding: 3px 0;
    border-bottom: 1px solid rgb(118, 116, 116);
    margin-top: 40px;
    font-size: 18px;


}

div.form input:focus{
    outline: none;
}

 
div.form button{
    padding: 10px 30px;
    color: white;
    border: none;
    background-color: var(--pimary-color);
    border-radius: 5px;
    margin-top: 30px;
   
}


#hero::after,#hero::before{
   content: "";
   height: 100px;
   position: absolute;
   background-color:var(--white-color); 
   width: 100%;
   bottom: -80px;
   transform: skewY(-3deg);
   
  

}

/* Hero SEction End */


/* clint-section start  */

 #clint-section{
    margin-top: 135px;
    background-color: var(--white-color);

 }

 .clint-section{
    flex-direction: column;
    align-items: center;
    gap: 40px;
 }

 .clint-section h3{
  
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
 }

 .clint-number{
    justify-content: space-evenly;
    width: 100%;
    
 }


 .diployment{
    flex-direction: column;
    align-items: center;
    gap: 15px;
 }


 .diployment i{
    font-size: 50px;
    color: rgb(21, 18, 18);
 }

 .diployment .number{

    font-size: 30px;
    font-weight: 400;

 }

 .diployment .text{
    font-size: 18px;
    color: var(--pimary-color);
    font-weight: 400;
 }


/* clint-section End  */

/* install-prosess Start */

#install{
    background-color: var(--white-color);
    margin-top: 30px;

}

.install{
    padding-inline: var(--padding-inline);
    width: 100%;
    background-color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.install-command{
 width: 60%;
}
 

.install .how-to-main{
 
  display: flex;
  flex-direction: column;
  gap: 30px;

  
  
}

.install .how-to{
    background-color: var(--white-color);
    padding: 22px 25px ;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 1px 1px 5px;
}





/* install-prosess End */



/* Cta -section Start  */

#cta{
    background-color: var(--pimary-color);
    margin-block: 20px;
}

.cta{
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    align-items: center;
    justify-content: space-around;
    

}


.cta-text{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--white-color);
}

.cta-text h1{
    font-size: 35px;
    font-weight: 300;
    line-height: 1.3;
    
}

.cta-text h2{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
}


.cta-text button{
    padding: 15px 30px;
    border: none;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 6px;

}

.cta-img{
 
}
 
.cta-img{
    width: 400px;

}

/* Cta -section End */

/* Language section-start  */

 #language{
    padding-block: var(--padding-block);
    background-color: var(--white-color);
 }

 .language{
    padding-inline: var(--padding-inline);

 }

 .language h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
 }


.language-item{
    display: flex;
    padding-block: var(--padding-block);
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 40px;
    
    
}

.node{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 170px;
    flex-basis: 125px;
    box-shadow: 1px 1px 3px rgb(198, 197, 194) ;
    border-radius: 10px;
    padding: 20px 5px;
    transition: 0.2s transform;
    
}

.node:hover{
    transform: translateY(-15px);
}

.node img{
    width: 85px;
    
}

/* Language section-End */



/* Footer Section Start  */

 footer{
    background-color: var(--dark-color);
    margin-top: 30px;
 }

 .footer{
    justify-content: space-between;
    align-content: center;
    padding-inline: var(--padding-inline);
    padding-block: 80px;
    color: white;
    align-items: flex-start;
 }

 .footer-logo{
    flex-direction: column;
    gap: 30px;
 }

 .footer-logo h1{
    font-size: 35px;
    font-weight: 600;
 }

 .footer-logo p{
    font-size: 20px;
    word-spacing: 6px;
 }



 .footer-menu ul{
    
    flex-direction: column;
    gap: 20px;
    
 }


 .footer-menu a{
    color: white;
    font-size: 18px;

 }


 .social-media{
  display: flex;
  gap: 20px;
}

.social-media i{
    font-size: 35px;
    cursor: pointer;
}

/* Footer Section End  */


/* animation add  */

@keyframes hero-left{
    0%{
        transform: translate(-120%);
    }
    100%{
        transform: translate(0%);
    }
}

@keyframes form{
    0%{
        transform: translate(120%);
    }
    100%{
        transform: translate(0%);
    }
}



/* resposive web desaign */


@media (max-width:700px) {
    
    
    div.nav{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    
    
    
    
    
    .hero{
        
        flex-direction: column;
        padding-top:30px ;
    
    }
    
   .hero .text-btn{
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

.hero .text-btn h1{
    font-size: 30px;
}

.hero .text-btn p{
    line-height:1.3;
    font-weight: 300;
    font-size: 14px;


 }

 div.form{
    width: 300px;
 }

div.form h2{
    font-size: 23px;
}

div.form input{
    margin-top: 30;
    font-size: 14px;
}

div.form button{
    padding: 7px 15px;
}

.clint-section h3{

  font-size: 17px;

}


.clint-number{
    flex-direction: column;
    gap: 25px;
}

.install{
    flex-direction: column;
    gap: 30px;
}

.install-command{
  width: 350px;
}


.cta{
    flex-direction: column;
    gap: 30px;
}

.footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}


}